

#col-effect{
   
    padding: 0%;
    margin-bottom: 0%;
   
}

#col-base{
    padding-top: 50px;
    height: 60vh;
    background-image: linear-gradient(#1899f5, #1093f4);
}

#img-wave{
    position: relative;
    width: 100%;
    top: 5%;
}
/* #grid-btn{
    margin-top: 50%;
    padding: 0px;
}

#col-efect{
    height: 45vh;
   background: #1093f4;
}

#col-efect-2{
   padding: 0px;
   background: #1093f4;
}

#img-wave{
    position: absolute;
    width: 100%;
    top: 0%;
} */
/* .wave1{
    width: 500%;
    height: 100%;
    position: absolute;
    top: 13%;
    left: 0;
    background-image: url(../../../assets/img/wave.svg);
} */

/* .wave1{
    animation: w1 7s linear infinite;
}

@keyframes w1 {
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: -1600px;
    }
} */

#buttons{
    height: 7vh;
}

#letter{
    font-family: 'Poppins', sans-serif;
}