ion-content{
    --background: #fafafa;
}

/* Transparent standard */
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

/* Show background if class is active */
.show-background {
    border-style: none;
    background: var(--ion-color-primary);
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-item {
    --background: rgba(0,0,0,0);
    --border-color: #fff;
}

ion-list{
    background: rgba(0,0,0,0);
    border-color: #fff;
}