<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Figuras de tus personaje favoritos!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-slides mode="ios" pager="ios" >
    <ion-slide>
      <img src="assets/img/figura1.jpg" style="height: 350px;" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/figura2.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/figura3.jpeg" alt="">
    </ion-slide>
  </ion-slides>
    </ion-card-content>
  </ion-card>
  
</ion-content>
