<ion-header > 
  <ion-toolbar>
    <ion-avatar>
      <img src="{{user.image}}" style="width: 50px; height: 50px;"/>
    </ion-avatar>
   <!--  <ion-buttons slot="start">
      <ion-avatar>
        <img src="{{user.image}}" style="width: 50px; height: 50px;"/>
      </ion-avatar>
    </ion-buttons> -->
    <ion-searchbar placeholder="Search" mode="ios" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin: 0%; padding: 0%;">
    <ion-row>
      <ion-col size="12" style="margin: 0%; padding: 0%;">
        <ion-item lines="none">
          <ion-label id="title">Top commerces</ion-label>
        </ion-item>
        <ion-slides *ngIf="allCommerces.length" [options]="slideOpts">
          <ion-slide *ngFor="let commerce of allCommerces">
            <ion-avatar id="top-commerce" (click)="goToCommerce(commerce)">
              <img src="{{commerce.image}}" />
            </ion-avatar>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
           <ion-label id="title">NEW SALES</ion-label>
        </ion-item>
        <ion-slides loop="true" mode="ios" pager="true" [options]="slideSales">
          <ion-slide *ngFor="let product of saleProducts; let index = index">
            <ion-card style="height: auto; width: 400px;">
              <ion-card-content>
                <ion-item lines="none" style="margin-bottom: 20px;">
                  <ion-avatar>
                    <img src="{{commerceSale[index]['image']}}" alt="">
                  </ion-avatar>
                  <ion-label id="sub-title" style="margin-left: 10px;">{{commerceSale[index]['name']}}</ion-label>
                </ion-item>
                <img src="{{product.image}}" alt="banner" id="img-product">
                <ion-item class="ion-text-center">
                  <ion-label id="title">{{product.name}}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
