<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="goBack()" fill="fill">
          <ion-icon name="arrow-back-outline" color="dark" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <img src="assets/img/new-logo.png" alt="logo" id="img-logo">
      </ion-col>
      <ion-col size="12" style="margin-top: 10%;">
        <ion-card>
          <ion-card-content>
            <ion-item lines="full">
              <ion-label position="floating" style="font-family: 'Poppins', sans-serif;">Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating" style="font-family: 'Poppins', sans-serif;">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-button expand="block" color="dark" shape="round" (click)="getInWithEmail()" style="height: 7vh;">
              <ion-label>Login</ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


        <!-- <ion-card style="border-radius: 15px;">
          <ion-card-content>
            <ion-item lines="full">
              <ion-label position="floating" style="font-family: 'Poppins', sans-serif;">Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card style="border-radius: 15px;">
          <ion-card-content>
            <ion-item lines="full">
              <ion-label position="floating" style="font-family: 'Poppins', sans-serif;">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <br>
        <ion-button expand="block" color="dark" shape="round" (click)="getInWithEmail()" style="height: 7vh;">
          <ion-label>Login</ion-label>
        </ion-button> -->