<ion-header>
  
</ion-header>

<ion-content>
  <ion-grid style="margin: 0px; padding: 0px;">
    <ion-row>
      <ion-col size="12" style="text-align: center;" id="col-logo">
        <img src="assets/img/store-logo2.png" alt="" id="img-logo">
      </ion-col>
      <ion-col size="12">
        <ion-card style="margin: 0px;">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="full">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" [(ngModel)]="email"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item lines="full">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" [(ngModel)]="password"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item button lines="none" style="text-align: start;" detail="true">
                    <ion-label>Register</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-button expand="block" fill="outline" color="dark" (click)="getInWithEmail()" style="height: 7vh;">
      <ion-label>Login</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
