

ion-footer {
    --background: transparent;
    --ion-color-base: transparent !important;
}

#col-effect{
    padding: 0%;
    margin-bottom: 0%;
}

#col-base{
    height: 45vh;
    background-image: linear-gradient(#1899f5, #1093f4);
}

#img-wave{
    position: relative;
    width: 100%;
    top: 10%;
}