ion-toolbar {
    --background: transparent !important;
    --ion-color-base: transparent !important;
    color: #fff;
}

ion-title{
    padding-left: 0px;
}

#commerce-title{
    width: auto;
    /* background: rgba(207, 207, 207, 0.61);   */
   /*  padding: 10px; */
    color: #000;
  /*   border-radius: 100%; */
}

ion-content{
    --padding-top:0px;
    position: absolute;
}

#img-commerce{
    width: 100%;
    height: auto;
}

ion-card{
    position: relative;
    bottom: 20%;
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 30%;
}

#title{
    font-family: 'Comfortaa-SemiBold';
    font-size: 1.5rem;
    font-weight: bold;
}

#sub-title{
    font-family: 'Poppins-Bold';
    font-size: 1rem;
}

ion-item {
    --background: rgba(0,0,0,0);
    --border-color: #fff;
}

#buttton-container{
    width: 100%;
    display:inline-block;
    position:relative;
}

#buttton-container #btnBack{
    position: absolute;
    --background: transparent !important;
    --ion-color-base: transparent !important;
}